<div class="main-container"> 
<%= render "devise/shared/error_messages", resource: resource %>
  <div ng-app="mainModule" ng-controller="mainController">
    <div id="signup-page" class="row">
      <div class="col s12 z-depth-6 card-panel">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="row">
              <h4>Sign Up</h4>
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <%= f.text_field :username, autofocus: true, id: "username"%>
                <label class="active" for="username" data-error="wrong" data-success="right">Username</label>
              </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mail_outline</i>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email"%>
                  <label class="active" for="email" data-error="wrong" data-success="right">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <%= f.password_field :password, autocomplete: "new-password", id: "password" %>
                  <label class="active" for="password">Password (6 characters minimum) </label>
                </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">spellcheck</i>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "password_confirmation" %>
              <label class="active" for="password_confirmation">Password Confirmation</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 actions">
                <input type = "submit" value = "Sign Up" class="btn waves-effect waves-light col s12">
              </div>
            </div>        
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
