<div class="main-container">    
<%= render "devise/shared/error_messages", resource: resource %>
  <div ng-app="mainModule" ng-controller="mainController">      
      <div id="login-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
              <h4>Login</h4>
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email"%>
                <label　class="active" for="email" data-error="wrong" data-success="right">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <%= f.password_field :password, autocomplete: "current-password" ,id: "password"%>
                <label class="active" 　for="password">Password</label>
              </div>
            </div>
            
            <% if devise_mapping.rememberable? %>
              <div class="row">          
                <div class="input-field col s12 m12 l12 login-text field">
                  <label class="active" 　for="remember-me">Remember me</label>
                  <input type="checkbox" id="remember-me" style = "opacity: 1; pointer-events: auto;"/>
                </div>
              </div>
            <% end %> 

            <div class="row">
              <div class="input-field col s12 actions">
                <input type = "submit" value = "Login" class="btn waves-effect waves-light col s12">
              </div>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div> 
  </div>
</div>