<!DOCTYPE html>
<html>
  <head>
    <title>Money Collect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

 
  <body class="<%= controller.controller_name %>">
    <b class="notice"><%= notice %></b>
    <b class="alert"><%= alert %></b>
    <%= yield %>
  </body>
</html>
